[Unit]
Description=Inotify System Scheduler

[Service]
Type=forking
PIDFile=/var/run/incrond.pid
ExecStart=/usr/sbin/incrond

[Install]
WantedBy=multi-user.target
